@import './components/settings.scss';
@import 'base.scss';
@import './components/display.scss';
@import './components/panel.scss';
@import './components/header.scss';



h3{
	color:white;
}

h2{
	color:white;
}

.switch-container {
	position: absolute;
	top: 75%; left: 50%;
	-webkit-transform: translate3d( -50%, -50%, 0 );
	transform: translate3d( -50%, -50%, 0 );
}

input[type="checkbox"].switch  {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].switch + div {
	vertical-align: middle;
	width: 40px;
	height: 20px;
	border-radius: 999px;
	background-color: #00B0F2;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;
	cursor: pointer;
}

input[type="checkbox"].switch + div span {
	position: absolute;
    font-size: 1.6rem;
    color: white;
    margin-top: 12px;
}

input[type="checkbox"].switch + div span:nth-child( 1 ) {
    margin-left: 15px;
}

input[type="checkbox"].switch + div span:nth-child( 2 ) {
    margin-left: 55px;
}

input[type="checkbox"].switch:checked + div {
	width: 94px;
	background-position: 0 0;
	background-color: #3b89ec;
}

input[type="checkbox"].switch + div {
	width: 94px;
	height: 48px;
}


input[type="checkbox"].switch:checked + div {
	background-color: #57BB00;
}

input[type="checkbox"].switch + div > div {
	float: left;
	width: 46px; height: 46px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(1,0,0,1);
	transition-timing-function: cubic-bezier(1,0,0,1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color;
	transition-property: transform, background-color;
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
}

input[type="checkbox"].bigswitch.switch + div > div {
	width: 44px;
	height: 44px;
	margin-top: 1px;
}


input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(46px, 0, 0);
	transform: translate3d(46px, 0, 0);
}

#session-label{

	float:right;
	color:white;
	text-emphasis-color:white;
	margin-left:0;
	margin-right: 0;position: absolute;
	top: 11%; left: 80%; right: 100%
}

.btn:active {
	color:red;
	background-color: #57BB00;
  }

  
  #break-label{
	color:white;
	text-emphasis-color:white;
	max-width:20px;
	max-width:50%;
	min-width:150px;
	padding:2px;
	float:right;
	margin:1px;
	border-radius: 1px;
	border:1px solid $display-border-color;
	background:$display-background-color;
	text-align: center;
	border-radius: 25px;
	z-index: 101;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	left: 20%;
	right:15%;
    border: 3px solid #73AD21;
	
  }
  #reset{
	  float:bottom;
	top: 90%; left: 40%; right: 0; bottom:10; 
  }
  div{margin-top:27px;}

  #session-label{
	max-width:20px;
	max-width:50%;
	min-width:150px;
	padding:2px;
	float:right;
	margin:1px;
	border-radius: 1px;
	border:1px solid $display-border-color;
	background:$display-background-color;
	text-align: center;
	border-radius: 25px;
	z-index: 101;
	margin-left:auto;
    margin-right:auto;

  align-items: center;
  justify-content: center
  }

